* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: #fff;
}

.container {
  padding: 1rem;
  width: 370px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(128, 127, 127);
}

.input_elem {
  width: 250px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  
}
.input_elem input{
  padding: .4rem .10rem;
  color: #6e6e6e;
}
.btn{
  cursor: pointer;
  background-color: rgb(41, 243, 41);
  color: #f3f0f0 !important;
  border-radius: 5px;
  font-weight: 500;
}
.results{
  font-size: .9rem;
}